<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />
    <bean id="springContext" class="Handlers.FrameWorkUtils.ApplicationContextProvider" />
    <bean id="httpRequest" name="HttpRequest" class="Handlers.Http.HttpRequest" scope="singleton">
    </bean>
    <bean id="weatherSensor" name="WeatherSensor" class="Sensors.weatherSensor.WeatherSensor" scope="singleton">
    </bean>
    <bean id="moisterSensor" name="MoisterSensor" class="Sensors.moisterSensor.MoisterSensor" scope="singleton">
    </bean>
    <bean id="temperatureSensor" name="TemperatureSensor" class="Sensors.temperatureSensor.TemperatureSensor" scope="singleton">
    </bean>
    <bean id="phSensor" name="PhSensor" class="Sensors.phSensor.PhSensor" scope="singleton">
    </bean>
    <bean id="humiditySensor" name="HumiditySensor" class="Sensors.humiditySensor.HumiditySensor" scope="singleton">
    </bean>
    <bean id="luminositySensor" name="LuminositySensor" class="Sensors.luminositySensor.LuminositySensor" scope="singleton">
    </bean>
    <bean id="pluviometricSensor" name="PluviometricSensor" class="Sensors.pluviometricSensor.PluviometricSensor" scope="singleton">
    </bean>
    <bean id="fertilizerData" name="FertilizerData" class="Handlers.DataBase.Data.FertilizerData" scope="singleton">
    </bean>

</beans>
