<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />
    <bean id="springContext" class="utils.ApplicationContextProvider" />
    <bean id="httpRequest" name="HttpRequest" class="sensors.HttpRequest" scope="singleton">
    </bean>
    <bean id="moisterSensor" name="MoisterSensor" class="sensors.moisterSensor.MoisterSensor" scope="singleton">
    </bean>
    <bean id="temperatureSensor" name="TemperatureSensor" class="sensors.temperatureSensor.TemperatureSensor" scope="singleton">
    </bean>
    <bean id="phSensor" name="PhSensor" class="sensors.phSensor.PhSensor" scope="singleton">
    </bean>
    <bean id="humiditySensor" name="HumiditySensor" class="sensors.humiditySensor.HumiditySensor" scope="singleton">
    </bean>
    <bean id="luminositySensor" name="LuminositySensor" class="sensors.luminositySensor.LuminositySensor" scope="singleton">
    </bean>
    <bean id="pluviometricSensor" name="PluviometricSensor" class="sensors.pluviometricSensor.PluviometricSensor" scope="singleton">
    </bean>
    <bean id="weatherSensor" name="WeatherSensor" class="sensors.weatherSensor.WeatherSensor" scope="singleton">
    </bean>
</beans>
